<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.screengeometry.overlay.enjoy10e">

    <application android:hasCode="false" />
    <overlay
        android:targetPackage="android"
        android:isStatic="true"
        android:priority="110" />
</manifest>
